.awards {
    .awards_wrapper {
        @include wrapper;
        align-items: start;
        margin-top: 150px;
        

        .awards_image {
            width: 555px;
            height: 555px;
            border-radius: 15px;
            overflow: hidden;
            flex-shrink: 0;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }

        .awards_info {
            margin-left: 77px;
            padding-top: 15px;
            padding-right: 50px;
            height: 555px;

            h4 {
                @include subtitle;
            }

            h2 {
                @include title;
                margin: 20px 0 45px;
            }
            .awards_items {
                display: flex;
                flex-direction: column;
                justify-content: start;
            }
            .awards_item {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 35px;

                .awards_item_img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 55px;
                    height: 55px;
                    border-radius: 10px;
                    flex-shrink: 0;
                    img {
                        display: inline-block;
                    }
                }
                .awards_item_img:nth-child(1) {
                    background-color: #EEF3F8;
                }
                .awards_item_img:nth-child(2) {
                    background-color: #FCF6EE;
                }
                .awards_item_img:nth-child(3) {
                    background-color: #EEF8FB;
                }

                .awards_item_info {
                    display: flex;
                    flex-direction: column;
                    padding: 0 25px;
                    flex-shrink: 1;
                    h5 {
                        @include artical-header;
                        margin-bottom: 8px;
                    }
                    p {
                        @include text;
                    }
                }
            }
            .awards_item:last-child {
                margin: 0;
            }
            
        }
    }
}