footer {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #F2F2F2;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    p {
        @include text;
    }
}