.subscribe {
    
    .subscribe_wrapper {
        @include wrapper;
        margin-top: 366px;
        
        .subscribe_info {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FAF5F1 url('../source/img/find-house_bg_texture.png') no-repeat;
        h2 {
            @include title;
            padding-top: 80px;
        }
        p {
            @include text;
            margin-top: 25px;
            max-width: 400px;
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            margin-top: 48px;
            margin-bottom: 80px;
            position: relative;
            input {
                width: 587px;
                height: 72px;
                border-radius: 1000px;
                background-color: rgba($color: #fff, $alpha: 0);
                border: 1px solid #D4CBC4;
                padding: 26px 64px;
                font-family: $font-regular;
                font-size: 16px;
                color: #8B7563;
                box-sizing: border-box;
 
            }
            label {
                background: url('../source/img/sms.png') center no-repeat;
                position: absolute;
                top: 24px;
                left: 28px;
                background-color: #fff;
                width: 24px;
                height: 24px;
                display: inline-block;
            }
            button {
                position: relative;
                width: 138px;
                height: 56px;
                border-radius: 1000px;
                border: none;
                background-color: #0165C3;
                font-family: $font-regular;
                font-size: 16px;
                color: #fff;
                left: 439px;
                top: -64px;
            }
            button:active {
                background-color: #E6F0F9;
                color: #0165C3;
            }
        }
        }
        
    }
}